[submodule "php"]
	path = php
	url = https://github.com/owncloud/core.git
[submodule "extapps/apps-stable5"]
	path = extapps/apps-stable5
	url = https://github.com/owncloud/apps.git
	branch = stable5
